# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [35]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [36]:
df = pd.read_csv('./student-mat.csv')
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [37]:
scho_guar = df.loc[: , 'school':'guardian']
scho_guar.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that capitalize strings.

In [38]:
capital=lambda x:x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [39]:
df['Mjob'].apply(capital)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
5      Services
6         Other
7         Other
8      Services
9         Other
10      Teacher
11     Services
12       Health
13      Teacher
14        Other
15       Health
16     Services
17        Other
18     Services
19       Health
20      Teacher
21       Health
22      Teacher
23        Other
24     Services
25     Services
26        Other
27       Health
28     Services
29      Teacher
         ...
365     At_home
366     Teacher
367       Other
368     At_home
369       Other
370    Services
371     At_home
372       Other
373       Other
374       Other
375       Other
376      Health
377     Teacher
378       Other
379     At_home
380     Teacher
381       Other
382       Other
383       Other
384       Other
385     At_home
386     Teacher
387    Services
388     Teacher
389       Other
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [40]:
df['Fjob'].apply(capital)

0       Teacher
1         Other
2         Other
3      Services
4         Other
5         Other
6         Other
7       Teacher
8         Other
9         Other
10       Health
11        Other
12     Services
13        Other
14        Other
15        Other
16     Services
17        Other
18     Services
19        Other
20        Other
21       Health
22        Other
23        Other
24       Health
25     Services
26        Other
27     Services
28        Other
29      Teacher
         ...
365       Other
366    Services
367    Services
368    Services
369     Teacher
370    Services
371    Services
372     At_home
373       Other
374       Other
375       Other
376       Other
377    Services
378       Other
379       Other
380     Teacher
381       Other
382    Services
383    Services
384       Other
385       Other
386     At_home
387       Other
388    Services
389       Other
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [41]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [42]:
df['Mjob'].apply(capital)
df['Fjob'].apply(capital)

0       Teacher
1         Other
2         Other
3      Services
4         Other
5         Other
6         Other
7       Teacher
8         Other
9         Other
10       Health
11        Other
12     Services
13        Other
14        Other
15        Other
16     Services
17        Other
18     Services
19        Other
20        Other
21       Health
22        Other
23        Other
24       Health
25     Services
26        Other
27     Services
28        Other
29      Teacher
         ...
365       Other
366    Services
367    Services
368    Services
369     Teacher
370    Services
371    Services
372     At_home
373       Other
374       Other
375       Other
376       Other
377    Services
378       Other
379       Other
380     Teacher
381       Other
382    Services
383    Services
384       Other
385       Other
386     At_home
387       Other
388    Services
389       Other
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [43]:
def majority(x):
    if x>17:
        return True
    else:
        return False

In [44]:
df['legal_drinker'] = df['age'].apply(majority)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [45]:
def multi10(x):
    if type(x) is int:
        return 10*x
    else:
        return x

In [46]:
df.applymap(multi10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,at_home,teacher,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,at_home,other,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,at_home,other,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,health,services,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,other,other,...,30,20,10,20,50,40,60,100,100,False
5,GP,M,160,U,LE3,T,40,30,services,other,...,40,20,10,20,50,100,150,150,150,False
6,GP,M,160,U,LE3,T,20,20,other,other,...,40,40,10,10,30,0,120,120,110,False
7,GP,F,170,U,GT3,A,40,40,other,teacher,...,10,40,10,10,10,60,60,50,60,False
8,GP,M,150,U,LE3,A,30,20,services,other,...,20,20,10,10,10,0,160,180,190,False
9,GP,M,150,U,GT3,T,30,40,other,other,...,50,10,10,10,50,0,140,150,150,False
10,GP,F,150,U,GT3,T,40,40,teacher,health,...,30,30,10,20,20,0,100,80,90,False
11,GP,F,150,U,GT3,T,20,10,services,other,...,20,20,10,10,40,40,100,120,120,False
12,GP,M,150,U,LE3,T,40,40,health,services,...,30,30,10,30,50,20,140,140,140,False
13,GP,M,150,U,GT3,T,40,30,teacher,other,...,40,30,10,20,30,20,100,100,110,False
14,GP,M,150,U,GT3,A,20,20,other,other,...,50,20,10,10,30,0,140,160,160,False
15,GP,F,160,U,GT3,T,40,40,health,other,...,40,40,10,20,20,40,140,140,140,False
16,GP,F,160,U,GT3,T,40,40,services,services,...,20,30,10,20,20,60,130,140,140,False
17,GP,F,160,U,GT3,T,30,30,other,other,...,30,20,10,10,40,40,80,100,100,False
18,GP,M,170,U,GT3,T,30,20,services,services,...,50,50,20,40,50,160,60,50,50,False
19,GP,M,160,U,LE3,T,40,30,health,other,...,10,30,10,30,50,40,80,100,100,False
20,GP,M,150,U,GT3,T,40,30,teacher,other,...,40,10,10,10,10,0,130,140,150,False
21,GP,M,150,U,GT3,T,40,40,health,health,...,40,20,10,10,50,0,120,150,150,False
22,GP,M,160,U,LE3,T,40,20,teacher,other,...,50,10,10,30,50,20,150,150,160,False
23,GP,M,160,U,LE3,T,20,20,other,other,...,40,40,20,40,50,0,130,130,120,False
24,GP,F,150,R,GT3,T,20,40,services,health,...,30,20,10,10,50,20,100,90,80,False
25,GP,F,160,U,GT3,T,20,20,services,services,...,20,20,10,30,50,140,60,90,80,False
26,GP,M,150,U,GT3,T,20,20,other,other,...,20,20,10,20,50,20,120,120,110,False
27,GP,M,150,U,GT3,T,40,20,health,services,...,20,40,20,40,10,40,150,160,150,False
28,GP,M,160,U,LE3,A,30,40,services,other,...,30,30,10,10,50,40,110,110,110,False
29,GP,M,160,U,GT3,T,40,40,teacher,teacher,...,40,50,50,50,50,160,100,120,110,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,at_home,other,...,30,40,20,40,30,40,100,100,100,True
366,MS,M,180,U,LE3,T,40,40,teacher,services,...,20,20,20,20,50,0,130,130,130,True
367,MS,F,170,R,GT3,T,10,10,other,services,...,20,10,10,20,10,0,70,60,0,False
368,MS,F,180,U,GT3,T,20,30,at_home,services,...,20,30,10,20,40,0,110,100,100,True
369,MS,F,180,R,GT3,T,40,40,other,teacher,...,20,20,40,20,50,100,140,120,110,True
370,MS,F,190,U,LE3,T,30,20,services,services,...,20,20,10,10,30,40,70,70,90,True
371,MS,M,180,R,LE3,T,10,20,at_home,services,...,30,30,20,30,30,30,140,120,120,True
372,MS,F,170,U,GT3,T,20,20,other,at_home,...,40,30,10,10,30,80,130,110,110,False
373,MS,F,170,R,GT3,T,10,20,other,other,...,50,50,10,30,10,140,60,50,50,False
374,MS,F,180,R,LE3,T,40,40,other,other,...,40,40,10,10,10,0,190,180,190,True
375,MS,F,180,R,GT3,T,10,10,other,other,...,30,20,10,20,40,20,80,80,100,True
376,MS,F,200,U,GT3,T,40,20,health,other,...,40,30,10,10,30,40,150,140,150,True
377,MS,F,180,R,LE3,T,40,40,teacher,services,...,40,30,30,40,20,40,80,90,100,True
378,MS,F,180,U,GT3,T,30,30,other,other,...,10,30,10,20,10,0,150,150,150,True
379,MS,F,170,R,GT3,T,30,10,at_home,other,...,50,40,20,30,10,170,100,100,100,False
380,MS,M,180,U,GT3,T,40,40,teacher,teacher,...,20,40,10,40,20,40,150,140,140,True
381,MS,M,180,R,GT3,T,20,10,other,other,...,40,30,10,30,50,50,70,60,70,True
382,MS,M,170,U,GT3,T,20,30,other,services,...,40,30,10,10,30,20,110,110,100,False
383,MS,M,190,R,GT3,T,10,10,other,services,...,30,20,10,30,50,0,60,50,0,True
384,MS,M,180,R,GT3,T,40,20,other,other,...,40,30,40,30,30,140,60,50,50,True
385,MS,F,180,R,GT3,T,20,20,at_home,other,...,30,30,10,30,40,20,100,90,100,True
386,MS,F,180,R,GT3,T,40,40,teacher,at_home,...,40,30,20,20,50,70,60,50,60,True
387,MS,F,190,R,GT3,T,20,30,services,other,...,40,20,10,20,50,0,70,50,0,True
388,MS,F,180,U,LE3,T,30,10,teacher,services,...,30,40,10,10,10,0,70,90,80,True
389,MS,F,180,U,GT3,T,10,10,other,other,...,10,10,10,10,50,0,60,50,0,True
390,MS,M,200,U,LE3,A,20,20,services,services,...,50,40,40,50,40,110,90,90,90,True
391,MS,M,170,U,LE3,T,30,10,services,services,...,40,50,30,40,20,30,140,160,160,False
392,MS,M,210,R,GT3,T,10,10,other,other,...,50,30,30,30,30,30,100,80,70,True
393,MS,M,180,R,LE3,T,30,20,services,other,...,40,10,30,40,50,0,110,120,100,True
394,MS,M,190,U,LE3,T,10,10,other,at_home,...,20,30,30,30,50,50,80,90,90,True